// SERVICES LIST
.services {
  margin-top: var(--lg-space);
  padding: 0px var(--side-padding);
  max-width: 1200px;
  display: flex;
  gap: var(--lg-space);
  align-items: center;
}
.title {
  font-family: "suisse";
  text-transform: uppercase;
  font-size: 48px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  flex-shrink: 0;
  transform: rotate(180deg);
}
.servicesList {
  width: 100%;
  flex-basis: 100%;
}
//
// SERVICE
//
.service {
  // padding: 32px;
  border-bottom: 1px solid black;
  &:first-of-type {
    border-top: 1px solid black;
  }
}
.serviceHeader {
  padding: 32px;
  stroke: black;
  display: flex;
  gap: 32px;
  align-items: center;
  cursor: pointer;
  &:hover .chevronIcon {
    transform: translateY(5px);
  }
}
.serviceIndex {
  font-weight: 300;
  font-size: 32px;
  overflow: hidden;
  margin-right: 32px;
  white-space: nowrap;
}
.serviceTitle {
  height: fit-content;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.headerIcon {
  margin-left: auto;
  display: grid;
  place-content: center;
  svg {
    width: 24px;
    display: block;
    transition: transform 0.2s ease-in-out;
    aspect-ratio: 1;
  }
}
.descriptionContainer {
  margin-left: auto;
  margin-right: 60px;
  width: 60%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
.descriptionWraper {
  padding: 16px 32px 40px;
}
.serviceDescription {
  font-size: 18px;
  line-height: 24px;
}

.btn {
  background-color: black;
  color: #eae7de;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 24px;
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
  .services {
    flex-direction: column;
    gap: var(--md-space);
  }
  .title {
    writing-mode: unset;
    transform: unset;
    text-align: center;
    align-self: unset;
  }

  .descriptionContainer {
    width: 100%;
    padding-left: calc(32px + 32px);
    padding-right: calc(32px + 24px);
  }
  .descriptionWraper {
    padding: 16px 0px 32px;
    margin-right: 0;
  }
  .btn {
    margin: 24px 0;
  }

  //
  // SERVICE
  //
  .serviceTitle {
    font-size: 24px;
  }
}

//////////////
/// MOBILE //
////////////

@media screen and (max-width: 600px) {
  .title {
    font-size: 28px;
    letter-spacing: 0px;
  }

  //
  // SERVICE
  //
  .serviceHeader {
    padding: 20px 0px;
    gap: 12px;
  }
  .serviceIndex {
    font-size: 15px;
    margin-right: 16px;
  }
  .serviceTitle {
    font-size: 15px;
  }

  .descriptionContainer {
    padding-left: calc(18px + 32px);
    padding-right: calc(16px + 24px);
  }
  .serviceDescription {
    font-size: 14px;
  }
}
