// SERVICES LIST
.services {
    display: flex;
    gap: 48px;
}
.title {
    text-transform: uppercase;
    font-size: 48px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    flex-shrink: 0;
    letter-spacing: 2px;
    transform: rotate(180deg);
    align-self: flex-start;
}
.servicesList {
    flex-basis: 100%;
}
//
// SERVICE
//
.service {
    // padding: 32px;
    border-bottom: 1px solid black;
    &:first-of-type {
        border-top: 1px solid black;
    }
}
.serviceHeader {
    padding: 32px;
    stroke: #444;
    display: flex;
    gap: 32px;
    align-items: center;
    cursor: pointer;
    &:hover {
        stroke: black;
    }
    &:hover .chevronIcon {
        transform: translateY(5px);
    }
    // &:hover .closeIcon{
    //     transform: rotate(90deg)
    // }
}
.serviceIndex {
    font-weight: 300;
    font-size: 32px;
    overflow: hidden;
    display: flex;
}
.serviceTitle {
    height: fit-content;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-user-select: none;
    user-select: none;
}
.headerIcon {
    margin-left: auto;
    display: grid;
    place-content: center;
    svg {
        width: 24px;
        display: block;
        transition: transform 0.2s ease-in-out;
        aspect-ratio: 1;
    }
}
.descriptionContainer {
    margin-left: auto;
    margin-right: 60px;
    width: 60%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.descriptionWraper {
    padding: 16px 40px 40px;
}
.serviceDescription {
    font-size: 16px;
    line-height: 24px;
}

.btn {
    background-color: black;
    color: #eae7de;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 24px;
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
    .services {
        flex-direction: column;
    }
    .title {
        writing-mode: unset;
        transform: unset;
        text-align: center;
        align-self: unset;
    }

    .descriptionContainer {
        width: 100%;
        max-width: 600px;
        margin-right: auto;
    }
    .btn {
        margin: 24px auto;
    }

    //
    // SERVICE
    //
    .serviceTitle {
        font-size: 24px;
    }
}

//////////////
/// MOBILE //
////////////

@media screen and (max-width: 600px) {
    .title {
        font-size: 28px;
        letter-spacing: 1px;
    }

    //
    // SERVICE
    //
    .serviceHeader {
        padding: 16px;
    }
    .serviceIndex {
        font-size: 18px;
    }
    .serviceTitle {
        font-size: 18px;
    }
}
