.p {
  padding-top: 150rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    padding-top: 100rem;
  }
}
.m {
  display: flex;
  gap: 20rem;
  @media (width < 770px) {
    flex-direction: column;
    gap: 24rem;
  }
}
.m figure {
  flex: 1;
  aspect-ratio: 4/3;
  background-color: #ededed;
}
.m aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.m h1 {
  margin-top: -6rem;
  font-size: 54rem;
  line-height: 49rem;
  font-style: italic;
  letter-spacing: 2%;
  font-family: "dm";
  font-weight: normal;
  @media (width < 770px) {
    font-size: 30rem;
    line-height: 30rem;
    text-align: center;
    margin-top: 0;
  }
}
.m aside > div {
  margin-top: auto;
  display: flex;
  gap: 40rem;
  @media (width < 770px) {
    flex-direction: column;
  }
}
.m aside p {
  flex: 1;
  font-size: 15rem;
  line-height: 17rem;
  font-weight: 400;
  opacity: 70%;
}
