.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}
.musicList {
    margin: var(--md-space) auto 0;
    max-width: 1000px;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-items: center;
    gap: 40px;
}
.playlist {
    aspect-ratio: 1;
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.spotifyIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 28px;
    height: 28px;
    fill: white;
}
.playlistImage {
    width: 100%;
}
.playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    width: 70px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
        width: 90px;
        // border-radius: 0;
    }
}

.blackBtn {
    background-color: rgba(0, 0, 0, 0.5);
    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.whiteBtn {
    background-color: rgba(255, 255, 255, 0.2);
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.playIcon {
    fill: white;
    width: 40px;
    height: 40px;
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 600px) {
}
//////////////
/// MOBILE //
////////////
@media screen and (max-width: 600px) {
    .title {
        font-size: 28px;
        letter-spacing: 0;
    }
}
