.p {
  //   padding-bottom: 80rem;
}
.p > .h {
  padding-block: 16rem;
}
.h svg {
  display: block;
  width: 200rem;
  margin-inline: auto;

  @media (width < 770px) {
    width: 120rem;
  }
}
.s-hero {
  padding-inline: var(--p-i);
  margin-top: 80rem;
  @media (width < 770px) {
    margin-top: 24rem;
  }
}
.s-hero > h1 {
  font-size: 150rem;
  font-family: "h";
  letter-spacing: 2%;
  text-transform: uppercase;
  @media (width < 770px) {
    font-size: 40rem;
    text-align: center;
  }
}
.s-hero > p {
  margin-top: -34rem;
  padding-left: 6rem;
  font-size: 40rem;
  letter-spacing: 2%;
  font-style: italic;
  font-family: "dm";
  & span {
    display: block;
    font-style: normal;
    font-family: "h";
  }
  @media (width < 770px) {
    margin-top: unset;
    position: relative;
    top: 135rem;
    letter-spacing: unset;
    font-size: 16rem;
    padding-left: unset;
  }
}
.s-hero > figure {
  margin-top: -136rem;
  width: 550rem;
  margin-right: 120rem;
  margin-left: auto;
  z-index: -1;
  position: sticky;
  top: 99rem;
  aspect-ratio: 3/4;
  background-color: #ededed;
  @media (width < 770px) {
    position: relative;
    margin-top: -20rem;
    width: 200rem;
    margin-right: unset;
    top: unset;
  }
}

.s-hero .ab {
  width: 570rem;
  margin-top: -120rem;
  @media (width < 770px) {
    width: unset;
    margin-top: 24rem;
  }
}
.s-hero .ab h2 {
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  text-transform: uppercase;
  & span {
    display: block;
    font-family: "dm";
    font-style: italic;
    font-weight: normal;
  }
  @media (width < 770px) {
    font-size: 28rem;
    line-height: 24rem;
  }
}
.s-hero .ab > div {
  font-size: 16rem;
  margin-top: 40rem;
  font-weight: 300;
  & p:not(:first-child) {
    margin-top: 18rem;
  }
  @media (width < 770px) {
    margin-top: 20rem;
    font-size: 15rem;
  }
}

// Network
.s-network {
  margin-top: 120rem;
  padding-inline: var(--p-i);
  background-color: var(--beige);
  padding-bottom: 72rem;
  @media (width < 770px) {
    margin-top: 80rem;
    padding-bottom: 32rem;
  }
}
.s-network > h2 {
  font-size: 70rem;
  letter-spacing: 2%;
  transform: translateY(-38rem);
  @media (width < 770px) {
    font-size: 36rem;
    transform: translateY(-22rem);
    text-align: right;
  }
}
.s-network ul {
  display: flex;
  flex-direction: column;
  gap: 60rem;
  margin-left: calc(360rem - 32rem);
  @media (width < 770px) {
    gap: 32rem;
    flex-direction: column;
    justify-content: unset;
    margin-left: unset;
  }
}
.s-network li {
  display: flex;
  gap: 64rem;
  @media (width < 770px) {
    flex-direction: column;
    gap: 16rem;
  }
}
.s-network .t {
  display: flex;
  gap: 12rem;
  align-items: center;
  width: 210rem;
}
.s-network svg {
  width: 24rem;
  @media (width < 770px) {
    width: 15rem;
  }
}
.s-network h3 {
  font-size: 28rem;
  letter-spacing: 2%;
  text-transform: uppercase;
  @media (width < 770px) {
    font-size: 18rem;
  }
}
.s-network li .b {
  margin-top: 16rem;
  display: flex;
  gap: 40rem;
  @media (width < 770px) {
    margin-top: unset;
    margin-left: calc(12rem + 15rem);
    gap: 20rem;
    flex-wrap: wrap;
  }
}
.s-network .b > div {
  @media (width < 770px) {
    width: 104rem;
    &:nth-child(3) {
      width: 80rem;
    }
  }
}
.s-network p {
  font-size: 22rem;
  letter-spacing: 2%;
  @media (width < 770px) {
    font-size: 16rem;
  }
}
.s-network span {
  display: block;
  // margin-top: 4rem;
  font-size: 22rem;
  // letter-spacing: 2%;
  font-weight: 300;
  @media (width < 770px) {
    margin-top: unset;
    font-size: 14rem;
  }
}
// Press
.s-press {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  padding-bottom: 40rem;
  @media (width < 770px) {
    margin-top: 60rem;
  }
}
.s-press .h {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.s-press .h h2 {
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  & span {
    font-size: 75rem;
    font-family: "dm";
    font-style: italic;
    font-weight: normal;
  }
  @media (width < 770px) {
    font-size: 36rem;
    line-height: 36rem;
    & span {
      font-size: 38rem;
    }
  }
}
.s-press .h nav {
  display: flex;
  gap: 8rem;
}
.s-press .h svg {
  cursor: pointer;
  display: block;
  width: 32rem;
  &:first-child {
    transform: rotate(-180deg);
  }

  @media (width < 770px) {
    width: 28rem;
  }
}
.s-press :global(.swiper) {
  margin-top: 40rem;
  @media (width < 770px) {
    margin-top: 30rem;
  }
}

// .s-press ul {
//   margin-top: 50rem;
//   display: flex;
//   gap: 20rem;
//   @media (width < 770px) {
//     gap: 16rem;
//     margin-top: 30rem;
//   }
// }
// .s-press li {
//   flex-shrink: 0;
//   width: calc((100vw - 2 * var(--p-i) - 20rem * 3) / 4);
//   @media (width < 770px) {
//     width: 150rem;
//   }
// }
.s-press figure {
  aspect-ratio: 4/5;
  background-color: #ededed;
  & img {
    object-position: top center;
  }
}
.s-press figcaption {
  margin-top: 16rem;
  font-size: 18rem;
  font-weight: bold;
  letter-spacing: 2%;
  @media (width < 770px) {
    margin-top: 10rem;
    font-size: 14rem;
  }
}

// Brands
.s-brands {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: 60rem;
  }
}
.s-brands .h {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.s-brands .h h2 {
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  text-align: right;
  & span {
    display: block;
    font-family: "dm";
    font-style: italic;
    font-weight: normal;
  }
  @media (width < 770px) {
    font-size: 36rem;
    line-height: 36rem;
    & span {
      font-size: 38rem;
    }
  }
}

.s-brands .h nav {
  display: flex;
  gap: 8rem;
}
.s-brands .h svg {
  cursor: pointer;
  display: block;
  width: 32rem;
  &:first-child {
    transform: rotate(-180deg);
  }
  @media (width < 770px) {
    width: 28rem;
  }
}

.s-brands :global(.swiper) {
  margin-top: 40rem;
}
// .s-brands ul {
//   margin-top: 50rem;
//   display: flex;
//   gap: 20rem;
//   @media (width < 770px) {
//     gap: 16rem;
//     margin-top: 30rem;
//   }
// }
// .s-brands li {
//   flex-shrink: 0;
//   width: calc((100vw - 2 * var(--p-i) - 20rem * 3) / 4);
//   @media (width < 770px) {
//     width: 150rem;
//   }
// }
.s-brands figure {
  aspect-ratio: 3/4;
}
.s-brands figcaption {
  margin-top: 16rem;
  font-size: 18rem;
  font-weight: bold;
  letter-spacing: 2%;
  text-transform: uppercase;
  @media (width < 770px) {
    margin-top: 10rem;
    font-size: 14rem;
  }
}

// films
.s-films {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: 60rem;
  }
}
.s-films > h2 {
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  & span {
    display: block;
    font-family: "dm";
    font-style: italic;
    font-weight: normal;
  }
  @media (width < 770px) {
    font-size: 36rem;
    line-height: 36rem;
    & span {
      font-size: 38rem;
    }
  }
}
.s-films ul {
  margin-top: 60rem;
  display: flex;
  gap: 20rem;
  align-items: flex-start;
  @media (width < 770px) {
    margin-top: 30rem;
    flex-direction: column;
  }
}
.s-films li {
  flex-shrink: 0;
  @media (width < 770px) {
    display: flex;
    gap: 16rem;
  }
}

.s-films li figure {
  aspect-ratio: 3/4;
  @media (width < 770px) {
    flex: 3;
  }
}
.s-films li p {
  @media (width < 770px) {
    flex: 2;
    font-size: 14rem;
    line-height: 18rem;
  }
}
.s-films li:nth-child(1) {
  flex: 5;
}
.s-films li:nth-child(2) {
  flex: 3;
}
.s-films li:nth-child(3) {
  flex: 4;
  & figure {
    aspect-ratio: 1;
  }
}

.s-films p {
  margin-top: 16rem;
  font-size: 18rem;
  font-weight: bold;
  letter-spacing: 2%;
  @media (width < 770px) {
    margin-top: unset;
    font-size: 14rem;
  }
}

// talks
.s-talks {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: 60rem;
  }
}
.s-talks > h2 {
  margin-left: 140rem;
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  & span {
    display: block;
    font-family: "dm";
    font-style: italic;
    font-weight: normal;
  }
  @media (width < 770px) {
    margin-left: 0;
    font-size: 36rem;
    line-height: 1;
  }
}
.s-talks > figure {
  margin-top: 72rem;
  aspect-ratio: 4/4.5;
  width: 680rem;
  margin-inline: auto;
  @media (width < 770px) {
    width: 220rem;
    margin-top: 30rem;
    @media (width < 770px) {
      aspect-ratio: 2/2.8;
    }
  }
}
.s-talks p {
  margin-top: 48rem;
  width: 667rem;
  margin-left: calc(730rem - 32rem);
  font-size: 16rem;
  font-weight: 300;
  letter-spacing: 2%;
  @media (width < 770px) {
    margin-top: 10rem;
    margin-left: unset;
    font-size: 15rem;
    width: unset;
  }
}
// .s-talks ul {
//   margin-top: 40rem;
//   display: flex;
//   gap: 20rem;
//   @media (width < 770px) {
//     margin-top: 30rem;
//   }
// }
// .s-talks li {
//   flex-shrink: 0;
//   width: calc((100vw - 2 * var(--p-i) - 20rem * 3) / 4);
//   @media (width < 770px) {
//     width: calc((100% - 16rem) / 2);
//   }
// }
.s-talks nav {
  display: flex;
  gap: 8rem;
  justify-content: flex-end;
  margin-top: 40rem;
  @media (width < 770px) {
    margin-top: 30rem;
  }
}
.s-talks nav svg {
  cursor: pointer;
  display: block;
  width: 32rem;
  &:first-child {
    transform: rotate(-180deg);
  }
  @media (width < 770px) {
    width: 28rem;
  }
}

.s-talks :global(.swiper) {
  margin-top: 16rem;
  @media (width < 770px) {
    margin-top: 8rem;
  }
}
.s-talks :global(.swiper) figure {
  aspect-ratio: 2/1.8;
}
.s-talks :global(.swiper) img {
  object-position: top center;
}
.s-talks h4 {
  margin-top: 24rem;
  font-size: 20rem;
  @media (width < 770px) {
    margin-top: 10rem;
    font-size: 14rem;
  }
}

// BOF
.s-bof {
  margin-top: 80rem;
  padding-inline: var(--p-i);
  @media (width < 770px) {
    margin-top: calc(60rem - 19rem);
  }
}
.s-bof > h2 {
  text-align: right;
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  text-transform: uppercase;
  & span {
    font-size: 75rem;
    font-family: "dm";
    font-style: italic;
    font-weight: normal;
  }
  @media (width < 770px) {
    font-size: 36rem;
    line-height: 36rem;
    & span {
      font-size: 38rem;
    }
  }
}
.s-bof > div {
  margin-top: 40rem;
  display: flex;
  gap: 20rem;
  justify-content: flex-end;
  align-items: flex-start;
  @media (width < 770px) {
    margin-top: 20rem;
    gap: 16rem;
  }
}
.s-bof figure:first-child {
  width: 562rem;
  @media (width < 770px) {
    width: unset;
    flex: 2;
  }
}
.s-bof figcaption {
  margin-top: 32rem;
  font-size: 16rem;
  font-weight: 300;
  letter-spacing: 2%;
  @media (width < 770px) {
    margin-top: 10rem;
    font-size: 15rem;
  }
}
.s-bof figure:last-child {
  width: 678rem;
  @media (width < 770px) {
    width: unset;
    flex: 3;
  }
}
