.s {
  padding-top: 80rem;
}
.s .t {
  display: flex;
  gap: 20rem;
}
.s .l {
  flex: 5;
}
.s h2 {
  font-size: 102rem;
  line-height: 92rem;
  letter-spacing: 2%;
}
.s h2 span {
  display: block;
  font-family: "dm";
  font-weight: normal;
  font-style: italic;
}

.s .r {
  flex: 7;
}
.s ul {
  display: flex;
  flex-wrap: wrap;
  gap: 136rem;
}
.s li {
  flex-basis: calc((100% - 136rem) / 2);
}
.s li span {
  font-size: 30rem;
  letter-spacing: 2%;
  font-weight: 300;
}
.s li div {
  margin-top: 16rem;
  font-size: 40rem;
  line-height: 44rem;
  letter-spacing: 2%;
}
.s > p {
  width: 950rem;
  margin-top: 160rem;
  margin-inline: auto;
  font-size: 60rem;
  line-height: 54rem;
  letter-spacing: 2%;
  font-family: "dm";
  font-style: italic;
  text-align: center;
}
.s > button {
  display: block;
  margin-top: 80rem;
  margin-inline: auto;
  background-color: black;
  color: white;
  font-size: 15rem;
  font-weight: bold;
  padding: 16rem 32rem;
  border-radius: 50rem;
}
