.s {
  margin-top: 150rem;
  @media (width < 770px) {
    margin-top: 70rem;
  }
}
.s .t {
  display: flex;
  gap: 20rem;

  @media (width < 770px) {
    flex-direction: column;
    gap: 30rem;
  }
}
.s .l {
  flex: 5;
}
.s h2 {
  font-size: 102rem;
  line-height: 92rem;
  letter-spacing: 2%;
  @media (width < 770px) {
    font-size: 40rem;
    line-height: 40rem;
  }
}
.s h2 span {
  display: block;
  font-family: "dm";
  font-weight: normal;
  font-style: italic;
}

.s .r {
  flex: 7;
}
.s ul {
  display: flex;
  flex-wrap: wrap;
  gap: 136rem;
  @media (width < 770px) {
    gap: 32rem;
    margin-left: calc(92rem - 12rem);
  }
}
.s li {
  flex-basis: calc((100% - 136rem) / 2);
  @media (width < 770px) {
    flex-basis: 132rem;
  }
}
.s li span {
  font-size: 30rem;
  letter-spacing: 2%;
  font-weight: 300;
  @media (width < 770px) {
    font-size: 15rem;
  }
}
.s li div {
  margin-top: 16rem;
  font-size: 40rem;
  line-height: 44rem;
  letter-spacing: 2%;
  @media (width < 770px) {
    margin-top: 12rem;
    font-size: 17rem;
    line-height: 1;
  }
}
.s > p {
  width: 950rem;
  margin-top: 150rem;
  margin-inline: auto;
  font-size: 60rem;
  line-height: 54rem;
  letter-spacing: 2%;
  font-family: "dm";
  font-style: italic;
  text-align: center;

  @media (width < 770px) {
    margin-top: 70rem;
    width: 320rem;
    font-size: 20rem;
    line-height: 20rem;
  }
}
.s > a {
  display: block;
  width: fit-content;
  margin-top: 80rem;
  margin-inline: auto;
  background-color: black;
  color: white;
  font-size: 15rem;
  font-weight: bold;
  padding: 16rem 32rem;
  border: 2rem solid black;
  border-radius: 80rem;
  @media (width < 770px) {
    margin-top: 40rem;
    font-size: 12rem;
    padding: 10rem 24rem;
  }
}
