.hero {
  width: 100%;
  padding: 0px var(--side-padding);
  margin-top: 36px;
}
.slider_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.info {
  margin: 32px auto 0;
  width: clamp(200px, 90%, 1000px);
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  letter-spacing: 1.1px;
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
  .hero {
    margin-top: 24px;
  }
}
//////////////
/// MOBILE //
////////////
@media screen and (max-width: 600px) {
  .hero {
    width: 100%;
    min-height: unset;
  }
  .info {
    font-size: 16px;
    line-height: 24px;
    span {
      font-size: 17px;
    }
  }
}
