.hero {
    min-height: calc(100dvh - var(--header-height));
    margin: 0 auto 24px;
    display: grid;
    place-content: center;
}
.heroWraper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.imageContainer {
    max-width: 500px;
}
.image {
    width: 100%;
    display: block;
    background-color: gray;
}
.title {
    font-size: 36px;
    letter-spacing: 5%;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    flex-shrink: 0;
}
.info {
    margin-top: 24px;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    span {
        text-transform: uppercase;
        font-weight: 600;
    }
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
}
//////////////
/// MOBILE //
////////////
@media screen and (max-width: 600px) {
    .hero {
        padding-top: 56px;
        width: 100%;
        min-height: unset;
    }
    .title {
        font-size: 16px;
        text-align: center;
    }
}
