.hero {
    padding-bottom: var(--lg-space);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--md-space);
}
.slideshow {
    width: clamp(0px, 80%, 460px);
}

.slide {
    background-color: var(--beige);
    width: 100%;
    aspect-ratio: 20/23;
    margin-left: 4%;
}
.info {
    width: clamp(200px, 90%, 900px);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 28px;
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
    .hero {
        padding-bottom: var(--md-space);
    }
    .slideshow {
        width: clamp(0px, 90%, 600px);
    }
    .info {
        width: clamp(200px, 90%, 500px);
    }
}
//////////////
/// MOBILE //
////////////
@media screen and (max-width: 600px) {
    .hero {
        width: 100%;
        min-height: unset;
    }
    .info {
        font-size: 16px;
        line-height: 24px;
        span {
            font-size: 17px;
        }
    }
}
