.overlay {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: grid;
    place-content: center;
}
.popup {
    overflow: auto;
    width: 1000px;
    max-width: 1200px;
    max-height: 80dvh;
    aspect-ratio: 2/1.2;
    background-color: var(--beige);
    padding: 20px 80px;
}
.popupHeader {
    width: 100%;
    padding: 40px 0px 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logoContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 240px;
}
.logo {
    width: 100%;
    height: auto;
}
.MpCompanyLogo {
    width: 100%;
}
.closeIcon {
    width: 32px;
    height: auto;
    stroke: black;
    cursor: pointer;
}

// POPUP BODY
.popupBody {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.popupTitle {
    font-family: "Suisse";
    font-size: 32px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    transform: rotate(180deg);
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 26px;
}

/***************/
/****TABLET****/
/*************/

@media screen and (max-width: 1024px) {
    .popup {
        width: 100vw;
        height: 100dvh;
        max-height: unset;
        padding: 0 24px;
    }
    .popupTitle {
        writing-mode: unset;
        transform: unset;
        align-self: unset;
        margin: 0;
        font-size: 40px;
    }
    .popupBody {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
}

/***************/
/**** MOBILE ****/
/*************/

@media screen and (max-width: 768px) {
    .popupTitle {
        font-size: 28px;
    }
    .popupHeader {
        justify-content: center;
    }
    .closeIcon {
        position: absolute;
        right: 24px;
    }
    .logoContainer {
        width: 180px;
        gap: 14px;
    }
    .popupBody {
        gap: 32px;
    }
}
