.overlay {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: grid;
    place-content: center;
}
.popup {
    overflow: auto;
    width: 80vw;
    max-width: 1200px;
    max-height: 80dvh;
    aspect-ratio: 2/1.2;
    background-color: var(--beige);
    padding: 0 40px;
}
.popupHeader {
    width: 100%;
    padding: 40px 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.logoContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.logo {
    width: 260px;
    height: auto;
}
.MpCompanyLogo {
    width: 260px;
}
.closeIcon {
    width: 32px;
    height: auto;
    stroke: black;
    cursor: pointer;
}

// POPUP BODY
.popupBody {
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.popupTitle {
    font-size: 32px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(180deg);
    flex-shrink: 0;
    align-self: flex-start;
}

/***************/
/****TABLET****/
/*************/

@media screen and (max-width: 1024px) {
    .popup {
        padding: 0 24px;
    }
    .popupHeader {
        padding: 40px 0px;
    }
    .popupTitle {
        writing-mode: unset;
        transform: unset;
        align-self: unset;
    }
    .popupBody {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
}

@media screen and (max-width: 768px) {
    .popup {
        width: 100vw;
        height: 100dvh;
        max-height: unset;
    }
    .popupTitle {
        font-size: 24px;
        letter-spacing: 1px;
    }
}
