.overlay {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: grid;
  place-content: center;
}
.popup {
  overflow: auto;
  position: relative;
  width: 80vw;
  max-width: 1000px;
  max-height: 95vh;
  max-height: 95dvh;
  background-color: var(--beige);
  padding: 0 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.popupHeader {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.logoContainer {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo {
  width: 100%;
  height: auto;
}
.mp-co-logo {
  width: 100%;
  object-fit: cover;
}
.closeIcon {
  width: 32px;
  height: auto;
  stroke: black;
  cursor: pointer;
}

// POPUP BODY
.popupBody {
  width: 100%;
  display: flex;
  gap: 30px;
}
.popupTitle {
  font-family: "Suisse";
  font-size: 32px;
  white-space: nowrap;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
  transform: rotate(180deg);
  flex-shrink: 0;
  align-self: flex-end;
  padding-top: 26px;
}
.hide {
  opacity: 0;
}

// SENT
.sent_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}
.sent_text {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
}

/***************/
/****TABLET****/
/*************/

@media screen and (max-width: 1024px) {
  .popup {
    width: 100vw;
    height: 100dvh;
    max-height: unset;
    padding-left: 24px;
    padding-right: 24px;
  }
  .popupTitle {
    writing-mode: unset;
    transform: unset;
    align-self: unset;
    padding-top: 0;
    font-size: 40px;
  }
  .popupBody {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}

/***************/
/**** MOBILE ****/
/*************/

@media screen and (max-width: 768px) {
  .popupTitle {
    font-size: 28px;
  }
  .popupHeader {
    justify-content: center;
  }
  .closeIcon {
    position: absolute;
    right: 16px;
  }
  .logoContainer {
    width: 180px;
    gap: 14px;
  }
}
