.page {
    padding: 0 40px;
    width: 100%;
    overflow: hidden;
}

/***************/
/****MOBILE****/
/*************/
@media screen and (max-width: 600px) {
    .page {
        padding: 0 16px;
    }
}
