.menu {
    height: 100dvh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--grey-800);
    padding: var(--header-height) 24px 40px;
    z-index: 99;
}

.menu_wrapper {
    height: 100%;
}

.menu_nav {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    li {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        color: var(--beige);
    }
}

.menu_contact {
    margin-top: 80px;
    h4 {
        text-transform: uppercase;
        text-align: center;
        font-size: 17px;
        color: var(--beige);
        width: 260px;
        margin: 0 auto;
    }
    button {
        padding: 10px 16px;
        margin: 32px auto 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        background-color: var(--beige);
        border-radius: 8px;
    }
}

.socials {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    li {
        text-transform: uppercase;
        text-decoration: underline;
        color: var(--beige);
        font-size: 14px;
    }
}
