.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}
.container {
    max-width: 1200px;
    margin: var(--md-space) auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
.imageContainer {
    width: 540px;
    min-width: 465px;
    overflow: hidden;
}
.image {
    width: 100%;
}
.textContainer {
    max-width: 520px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 32px;
        width: 90%;
        width: clamp(0px, 90%, 600px);
        align-items: center;
    }

    .imageContainer {
        width: 100%;
        min-width: unset;
    }

    .textContainer {
        max-width: unset;
        padding: 16px;
    }
    .text {
        font-size: 16px;
        line-height: 24px;
    }
}

//////////////
/// MOBILE //
////////////
@media screen and (max-width: 540px) {
    .title {
        font-size: 28px;
        letter-spacing: 1px;
    }
    .text {
        font-size: 16px;
        line-height: 28px;
    }
}
