.about{
    max-width: 1200px;
    margin:120px auto 0;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}
.container{
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
}
.imageContainer{
    flex-basis: 100%;
}
.image{
    width: 100%;

}
.aboutInfo{
    flex-basis: 100%;
}
.infoTitle{
    font-size: 16px;
    line-height: 1.5;
}
.infoDescription{
    margin-top: 24px;
    font-size: 16px;
    line-height: 1.5;
    max-width: 500px;
    text-align: justify;
}