.slider_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.slide_title {
  display: block;
  margin-top: 18px;
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.75px;
  border: 1.5px solid black;
  border-left: none;
  border-right: none;
}

.slide_img_wrapper {
  width: 100%;
  aspect-ratio: 1 / 1.25;
  display: flex;
  align-items: center;
}
.slide:global(.swiper-slide-next) img {
  width: 100%;
}
.slide_img {
  width: 100%;
}

@media screen and (width > 1024px) {
  :global(.swiper-slide-next) span {
    opacity: 1;
  }
  .slide_title {
    opacity: 0;
  }
  .slide_img {
    margin: 0 auto;
    width: 90%;
  }
}
