.swiper_ {
  max-width: 1300px;
  margin: 0 auto;
}
.slider_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  @media (max-width: 600px){
    display: none;
  }

}
.slider_nav svg{
    width: 24px;
    aspect-ratio: 1;
    display: block;
}
.slider_nav button:first-child svg{
    transform: rotate(90deg);
}
.slider_nav button:last-child svg{
    transform: rotate(-90deg);
}

.slide_title {
  display: block;
  margin-top: 16px;
  padding: 6px 0;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.75px;
  border: 1.5px solid black;
  border-left: none;
  border-right: none;
}

.slide_img_wrapper {
  width: 100%;
  aspect-ratio: 1 / 1.25;
  display: flex;
  align-items: center;
}
.slide:global(.swiper-slide-next) img {
  width: 100%;
}
.slide_img {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  :global(.swiper-slide-next) span {
    opacity: 1;
  }
  .slide_title {
    opacity: 0;
  }
  .slide_img {
    margin: 0 auto;
    width: 90%;
  }
}
