.p {
  width: 100vw;
  max-height: calc(var(--vh) - var(--h-h));
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--h-h);
  @media (width > 768px) {
    display: block;
    height: var(--vh);
  }
}

.img-w {
  width: 240rem;
  aspect-ratio: 3/4;
  background-color: #dedede;
  filter: grayscale(1);
  margin-left: auto;
  margin-right: 20rem;
  margin-top: 40rem;
  flex-shrink: 0;
  position: relative;
  @media (width > 768px) {
    margin: 0;
    width: 440rem;
    position: absolute;
    top: 50%;
    left: 270rem;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.img-w img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
:global(#image.active) {
  z-index: 5;
  opacity: 1;
}

.list-w {
  margin-inline: 20rem;
  overflow: hidden;
  height: 100%;
  @media (width > 768px) {
    overflow: unset;
    margin-inline: 615rem 0;
  }
}

.list li {
  height: 70rem;
  padding-block: 8rem;
  color: rgba(#000, 0.2);
  @media (width > 768px) {
    height: 131rem;
    padding-block: 24rem;
  }
}
.list h2 {
  font-size: 32rem;
  font-weight: normal;
  @media (width > 768px) {
    font-size: 64rem;
  }
}
.list span {
  font-size: 14rem;
  text-transform: capitalize;
  display: none;

  @media (width > 768px) {
    font-size: 24rem;
  }
}
:global(#root) {
  overflow-y: auto;
  height: var(--vh);
}
:global(#list-w.sl) {
  height: unset !important;
  @media (width > 768px) {
    position: absolute;
    top: calc((100vh - var(--h-h)) / 2 - 66rem);
  }
}

:global(#list .active) {
  color: black;
  margin-left: 10rem;
  h2 {
    font-weight: 500;
  }
  span {
    display: block;
  }
  @media (width > 768px) {
    margin-left: 120rem;
  }
}
