:global(#root) {
    overflow-y: auto;
    height: var(--vh, 100vh);
}

.wt {
    margin-top: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    padding-inline: 20rem;
    @media (width > 768px) {
        position: fixed;
        z-index: 2;
        padding: 0;
        top: calc((100vh + var(--h-h)) / 2);
        left: 0;
        transform: translateY(-50%);
        width: 715rem;
        margin-top: 0;
    }
}

.img-w {
    width: 240rem;
    aspect-ratio: 3/4;
    background-color: #dedede;
    filter: grayscale(1);
    flex-shrink: 0;
    position: relative;
    @media (width > 768px) {
        width: 400rem;
    }
}
.img-w img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
:global(#image.active) {
    z-index: 5;
    opacity: 1;
}

.p {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: var(--h-h);
    pointer-events: none;
    @media (width > 768px) {
        height: var(--vh, 100vh);
        position: sticky;
        top: 0;
        left: 620rem;
        width: 820rem;
        pointer-events: unset;
    }
}

.list-w {
    overflow: hidden;
    height: 100%;
    margin-inline: 20rem;
    @media (width > 768px) {
        overflow: unset;
        margin-inline: 0;
    }
}
.list li {
    height: 70rem;
    width: fit-content;
    padding-block: 8rem;
    color: rgba(#000, 0.2);
    @media (width > 768px) {
        height: 131rem;
        padding-block: 24rem;
    }
}
.list h2 {
    font-size: 32rem;
    font-weight: normal;
    @media (width > 768px) {
        font-size: 56rem;
    }
}
.list span {
    font-size: 14rem;
    text-transform: capitalize;
    display: none;

    @media (width > 768px) {
        font-size: 24rem;
    }
}

// GLOBAL STYLES
:global(#list-w.sl) {
    height: unset !important;
    @media (width > 768px) {
        position: absolute;
        top: calc((100vh - var(--h-h)) / 2 - 66rem);
    }
}
:global(#list .active) {
    color: black;
    h2 {
        font-weight: 500;
    }
    span {
        display: block;
    }
    @media (width > 768px) {
        margin-left: 119rem;
    }
}
