.h {
  padding-top: 32rem;
  padding-inline: var(--p-i);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--h-h);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  mix-blend-mode: difference;
  @media (width < 770px) {
    padding-top: 16rem;
  }
}
.h .lo {
  width: 170rem;
  @media (width < 770px) {
    width: 110rem;
  }
}
.h nav {
  display: flex;
  gap: 16rem;
}
.h nav a {
  font-size: 12rem;
  // color: white;
}
.h button {
  font-size: 15rem;
}
