// VARIABLES
$animation-time:.1s;

//
.header{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    width:369px;
}
.logoContainer{
    width: 160px;
}
.logo{
    width: 100%;
}

//

.navLink{
    height: 42px;
    text-transform: uppercase;
    font-size: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.line{
    width: 100%;
    height: .5px;
    background-color: black;
    position: absolute;
    top: 0;
    transition: all .3s ease-in-out;
}
.line:last-of-type{
    top: unset;
    bottom:0;
}