.gallerySection {
  margin-top: var(--lg-space);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryContainer {
  width: fit-content;
  max-width: 100%;
  // overflow: hidden;
  overflow: auto;
}

.gallery {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 440px;
  & > * {
    flex-shrink: 0;
  }
}

.imageWraper {
  width: 100px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gray-300);
  aspect-ratio: 1/4;
  overflow: hidden;
  transition: all 0.3s ease-out;
  display: grid;
  place-content: center;
  &:hover {
    filter: brightness(70%);
    width: 110px;
    & .igIcon {
      display: block;
    }
  }
}

.igIcon {
  display: none;
}

.image {
  width: 100%;
  object-fit: cover;
}

.igLink {
  margin: 32px auto 0;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.igUserName {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.followBtn {
  padding: 12px 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  // border-radius: 10px;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: black;
    color: #eae7de;
  }
}
