.s {
  margin-top: 80rem;
  padding-block: 48rem;
  padding-inline: var(--p-i);
  background-color: var(--beige);
  @media (width < 770px) {
  margin-top: 60rem;
    padding-block: 32rem;
  }
}
.s > h2 {
  font-size: 70rem;
  line-height: 60rem;
  letter-spacing: 2%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & span {
    display: block;
    font-family: "dm";
    font-weight: normal;
    font-style: italic;
  }
  @media (width < 770px) {
    display: block;
    font-size: 36rem;
    line-height: 1;
    text-align: right;
    & span {
      font-size: 30rem;
    }
  }
}
.s > div {
  margin-top: 40rem;
  display: flex;
  gap: 20rem;
  align-items: flex-start;
}
.s .l {
  flex: 4;
  @media (width < 770px) {
    order: 2;
    flex: 3;
  }
}
.s .l figure {
  aspect-ratio: 3/2;
  @media (width < 770px) {
    aspect-ratio: 1;
  }
}
.s .r {
  flex: 8;
  @media (width < 770px) {
    flex: 2;
  }
}
.s .r figure {
  aspect-ratio: 1;
  @media (width < 770px) {
    aspect-ratio: 4/5;
  }
}
.s .r .t {
  display: flex;
  gap: 20rem;
  @media (width < 770px) {
    flex-direction: column;
  }
}
.s ul {
  margin-top: 48rem;
  display: flex;
  align-items: flex-start;
  gap: 20rem;
}
.s li {
  flex: 1;
  aspect-ratio: 1;
  &:first-child {
    aspect-ratio: 3/2;
  }
}
.s p {
  width: 910rem;
  margin-top: 40rem;
  margin-left: auto;
  font-size: 16rem;
  font-weight: 300;
  letter-spacing: 2%;
  white-space: pre-line;
  @media (width < 770px) {
    width: unset;
    margin-top: 16rem;
    font-size: 15rem;
  }
}
