// Network
.s-network {
  margin-top: 120rem;
  padding-inline: var(--p-i);
  background-color: black;
  color: white;
  padding-top: 40rem;
  padding-bottom: 24rem;
  @media (width < 770px) {
    padding-top: 32rem;
    margin-top: 80rem;
    padding-bottom: 32rem;
  }
}
.s-network > h2 {
  font-size: 70rem;
  letter-spacing: 2%;
  // transform: translateY(-38rem);
  @media (width < 770px) {
    font-size: 36rem;
    text-align: center;
  }
}
.s-network ul {
  margin-top: 80rem;
  display: flex;
  gap: 60rem;
  // margin-left: calc(280rem - 32rem);
  padding-inline: 32rem;
  @media (width < 770px) {
    margin-top: 40rem;
    padding-inline: 12rem;
    gap: 32rem;
    flex-direction: column;
    justify-content: unset;
    margin-left: unset;
  }
}
.s-network li {
  padding-left: 32rem;
  border-left: 1px solid white;
  display: flex;
  gap: 64rem;
  flex-direction: column;
  flex: 1;
  @media (width < 770px) {
    padding-left: unset;
    border-left: unset;
    flex-direction: column;
    gap: 16rem;
  }
}
.s-network .t {
  // width: 210rem;
  @media (width < 770px) {
    display: flex;
    gap: 20rem;
  }
}
.s-network svg {
  width: 40rem;
  height: auto;
  path {
    fill: white;
  }
  @media (width < 770px) {
    width: 15rem;
  }
}
.s-network li h3 {
  margin-top: 16rem;
  font-size: 28rem;
  letter-spacing: 2%;
  text-transform: uppercase;
  @media (width < 770px) {
    margin-top: 0;
    font-size: 18rem;
  }
}
.s-network li .b {
  // margin-top: 16rem;
  display: flex;
  gap: 48rem;
  flex-direction: column;
  @media (width < 770px) {
    margin-top: unset;
    margin-left: calc(20rem + 15rem);
    gap: 20rem;
    flex-direction: row;
  }
}

.s-network .b > div {
  // &:nth-child(2) {
  //   width: 129rem;
  // }
  // &:nth-child(3) {
  //   width: 114rem;
  // }

  @media (width < 770px) {
    flex-basis: 100%;
  }
}

.s-network p {
  font-size: 32rem;
  letter-spacing: 2%;
  @media (width < 770px) {
    font-size: 16rem;
  }
}
.s-network span {
  display: block;
  // margin-top: 4rem;
  font-size: 22rem;
  // letter-spacing: 2%;
  font-weight: 300;
  @media (width < 770px) {
    margin-top: unset;
    font-size: 14rem;
  }
}
.s-network h4 {
  margin-top: 72rem;
  font-size: 22rem;
  text-align: center;
  font-weight: normal;
  @media (width < 770px) {
    margin-top: 56rem;
    font-size: 18rem;
}
}
