.slideshow {
    margin: 0 auto;
    width: clamp(0px, 80%, 600px);
    &_wraper {
        display: flex;
    }
}

.slide {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    img {
        background-color: var(--beige);
        width: 100%;
        aspect-ratio: 20/23;
        margin-left: 4%;
    }
}

//////////////
/// TABLET //
////////////
@media screen and (max-width: 1024px) {
    .slideshow {
        width: clamp(0px, 90%, 600px);
    }
}
