.s {
  height: 300dvh;
  height: 300vh;
}
.hero {
  position: sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
figure {
  width: 1000px;
}
