.m {
  height: 100vh;
  max-height: 100vh;
  // margin-top: calc(var(--h-h) * -1);
}
.m figure {
  width: 100%;
  height: 100%;
}
.s {
  // height: 300dvh;
  // height: 300vh;
}
.hero {
  position: sticky;
  top: 0;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s figure {
  width: 590rem;
}
.s p {
  position: absolute;
  width: 363rem;
  font-size: 15rem;
  font-weight: 300;
  line-height: 17rem;
  top: 50%;
  transform: translateY(-50%);
}
.s p:first-of-type {
  left: 0;
}
.s p:last-of-type {
  right: 0;
  text-align: right;
}
.s h1 {
  font-size: 24rem;
  font-weight: normal;
  width: 1000rem;
  text-align: center;
  position: absolute;
  top: calc(50vh + 160rem + 70rem);
}
