.lg {
  position: absolute;
  width: 100%;
  top: 450px;
  height: 1px;
  background-color: red;
  z-index: 99;
}
html {
  overflow: hidden;
  overscroll-behavior: none;
}
body {
  overflow: hidden;
  overscroll-behavior: none;
}
.cl {
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: red;
}
.p {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (width > 768px) {
    display: block;
  }
}

.l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 20rem;
  // padding-top: 40rem;
  padding-top: calc(20rem + var(--h-h));
  @media (width > 768px) {
    position: absolute;
    width: 715rem;
    padding-top: 0;
    padding-inline: 40rem;
    top: calc(100vh / 2 + var(--h-h) / 2);
    transform: translateY(-50%);
    z-index: 2;
  }
}

.l ul {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.l li {
  font-size: 14rem;
  text-transform: capitalize;
  @media (width > 768px) {
    font-size: 16rem;
  }
}
.l li:global(.active) {
  text-decoration: underline;
}

.l figure {
  width: 240rem;
  aspect-ratio: 3/4;
  background-color: #ededed;
  filter: grayscale(1);
  @media (width > 768px) {
    width: 400rem;
  }
}
.l img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.r {
  overflow: hidden;
  @media (width> 768px) {
    overflow: unset;
    position: absolute;
    top: 0;
    left: 620rem;
  }
}
.r:global(.s) {
  @media (width> 768px) {
    top: calc(100vh / 2);
  }
}
.r ul {
  padding-inline: 20rem;
  @media (width> 768px) {
    padding-inline: 0;
  }
}
.r li {
  padding-block: 12rem;
  position: relative;
  // border: 1px solid blue;
}
.r li a {
  display: block;
}
.r li h2 {
  color: rgba(#000000, 0.2);
  font-weight: 400;
  font-size: 28rem;
  text-transform: uppercase;
  white-space: nowrap;
  @media (width > 768px) {
    font-size: 56rem;
  }
}
.r li span {
  display: block;
  opacity: 0;
  font-size: 14rem;
  text-transform: capitalize;
  @media (width > 768px) {
    font-size: 24rem;
  }
}

.r li:global(.active) {
  & a {
    @media (width > 768px) {
      margin-left: 119rem;
    }
  }
  & h2 {
    color: black;
    font-weight: 500;
  }
  & span {
    opacity: 1;
  }
}
